.app__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 1rem 2rem;
    background-color: #F5F7FA;
}

.app__navbar-logo{
    width: 120px;
}
.app__navbar-smallscreen{
    display: none;
}
.app__navbar-logo img{
    width: 100%;
    height: 100%;
}
.app__navbar-links {
    list-style: none;
}
.app__navbar-links li{
    margin: 0 1rem;
}
.app__navbar-links a{
    text-decoration: none;
}
.app__navbar-links{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-gray);
    transition: .5s ease;

    flex-direction: column;
    z-index: 5;
}
.app__navbar-smallscreen_overlay .overlay__close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: var(--color-primary);
}
.app__navbar-smallscreen_links {
    display: flex;
    flex-direction: column;
}
.app__navbar-smallscreen_links li{
    margin: 1rem;
    text-align: center;
}
.app__navbar-smallscreen_links a{
    text-decoration: none;
}
.app__navbar-link{
    margin: 0 1rem;
}
.app__navbar-btns button{
    margin: 0 0.5rem;
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-smallscreen{
        display: flex;
    }
    .app__navbar-btns {
        display: none;
    }
}